/* Global styles */
body {
    font-family: 'Chakra Petch', sans-serif;
    color: #f0f0f0;
    background-color: #121212;
    margin: 0;
    padding: 0;
}

a {
    color: #66ccff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header */
header {
    text-align: center;
    padding: 20px;
    background-color: #1f1f1f;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #fff;
}

header p {
    margin: 5px;
    color: #bbb;
}

/* Section and Layout */
section {
    padding: 20px;
}

h2 {
    border-bottom: 2px solid #444;
    padding-bottom: 5px;
    color: #aaa;
}

h3 {
    color: #fff;
}

/* Content Wrapper */
.content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 20px;
}

.column {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
}

/* Experience Section */
.experience ul {
    padding-left: 20px;
}

.experience ul li {
    list-style-type: disc;
    margin-bottom: 10px;
}

/* Projects Section */
.project ul {
    padding-left: 20px;
}

.project ul li {
    list-style-type: square;
    margin-bottom: 10px;
}

/* Technologies Section */
.technologies p {
    margin-bottom: 10px;
}

.technologies span {
    background-color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    color: #ddd;
    margin-right: 10px;
}
